<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a href="javascript:kakaoLogin();"><img src="https://www.gb.go.kr/Main/Images/ko/member/certi_kakao_login.png"/></a>
	
	<script src="http://developers.kakao.com/sdk/js/kakao.js"></script>
	<script>
	/* 11f7c2eec090164a076a7510d6b444c9 */
		window.Kakao.init("11f7c2eec090164a076a7510d6b444c9");
	
		function kakaoLogin() {
			window.Kakao.Auth.login({
				scope:'profile, account_email, gender',
				success: function(authObj) {
					console.log(authObj);
					window.Kakao.API.request({
						url:'/v2/user/me',
						success: res => {
							const kakao_account = res.kakao_account;
							console.log(kakao_account);
						}
					});
				}
			});
		}
	</script>
</body>
</html>